{% extends "base/base.html" %}
{% from 'base/_helpers.html' import generarForm with context %}
{% block titulo %}Login usuario{% endblock %}
{% block contenido %}

    <h1>Login usuario</h1>
    <div class="row">
        <form action="{{ url_for('login.loginusuario') }}" method="post">
            {{ generarForm(form) }}
            <span style="color:red">{{ error }}</span>
            <br/><br/>
            <p>ReCaptcha</p>

            <input type="submit" class="btn btn-primary " value="Entrar">

        </form>


    </div>
{% endblock %}